* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.fullvh {
  height: 100vh;
}

@media screen and (max-width: 950px) {
  .fullvh {
    height: auto;
  }

}

@media print {
  .printDoc {
    display: none;
    margin: 0;
    padding: 0;
  }

  .printcontainer {
    width: 100vw;
  }

  .printcontainer .card {
    border: none !important;
  }
}